.AddProperty {
  padding-top: 20px;
}

.add-form {
  text-align: center;
}

.AddProperty label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
  font-weight: 300;
  font-weight: 600;
  color: #5a2c8c;
  font-family: 'Poppins', sans-serif;
}

input {
  width: 130px;
  height: 20px;
}

select {
  width: 138px;
  height: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #5a2c8c;
}

.add-button-container {
  margin-top: 20px;
}

button {
  width: 138px;
  height: 28px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #5a2c8c;
  background-color: white;
}

button:hover {
  color: white;
  background-color: #5a2c8c;
}

button:active {
  background-color: #1e7929;
  transform: scale(1.2);
}
