.navbar {
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 200px;
  height: 65px;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-weight: 800;
  padding-right: 10px;
}

.navbar-links-item {
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  text-align: center;
}

.selected-link {
  background-color: #5a2c8c;
  border-radius: 5px;
  color: white;
}