
.sidebar-links {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #5a2c8c;
}

.sidebar-link-item {
  text-decoration: none;
  background-color: white;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  font-weight: 600;
  color: #5a2c8c;
}

.selected-city {
  background-color: #5a2c8c;
  color: white;
}

.price-filter-list {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #5a2c8c;
  background-color: white;
  margin: 0;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 10px;
}

.price-query {
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
  background-color: #5a2c8c;
  color: white;
  padding: 0px 10px 0px 10px;
}