.sidebar-cont {
  width: 200px;
  height: 100vh;
  border: 1px solid #5a2c8c;
  margin-left: -1px;
  margin-top: -1px;
  background-color: white;
}

h1 {
  font-weight: 400;
  font-size: 1rem;
  text-decoration: underline;
  font-style: italic;
}

.property-search {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 10px 10px 0px 10px;
  
}

.property-search-input {
  height: auto;
  font-weight: 200;
  font-style: italic;
}

.property-search-button {
  width: auto;
}

.city-filter-list, .price-filter-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  background-color: white;
}  

.city-filter, .price-filter {
  text-decoration: none;
  background-color: white;
  padding: 0px 10px 0px 0px;
  border-radius: 5px;
  font-weight: 200;
  color: #5a2c8c;
  margin: 0px 0px 5px 0px;
}  

.city-filter:hover, .price-filter:hover {
  text-decoration: underline;
}